/* General */

* {
  margin: 0;
  padding: 0;
}


section {
  padding-top: 10vh;
  height: 90vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  text-align: center;
}


body {
  font-family: 'Roboto Slab', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85,85,85);
  line-height: 25px;
}

/* Links */

a {
  color: rgb(55, 55, 55);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(205, 205, 205);
  text-decoration: none;
  text-underline-offset: 1rem;
}

a, .btn {
  transition: all 150ms ease;
}

/* Profile Pic */

#hero {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 70vh;
  align-items: center;
}

.pic-container {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
}

#profile-photo {
  border-radius: 50%;
}

/* Text, buttons, and socials */

.section__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 0.7rem;
}

#btn-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  border-radius: 2rem;
  padding: 1rem;
  width: 8rem;
  border: rgb(152, 152, 152) 0.1rem solid;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  color: white;
  transition: 0.3s ease;
}

.btn-contact-info {
  background-color: rgb(55, 55, 55);
  color: white;
}

.fa-brands {
  font-size: 1.5rem;
}

.fa-brands:hover {
  cursor: pointer;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.section__text__p1 {
  font-weight: 600;
  font-size: 1.2rem;
}

.title {
  font-size: 2rem;
}

.section__text__p2 {
  font-weight: 600;
  font-size: 1.2rem;
}

/* About Section */

.about-grand-container {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin: 3rem 0;
  position: relative;
}

.arrow {
  font-size: 2rem;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.arrow:hover {
  cursor: pointer;
}

.about-pic-container {
  display: flex;
  height: 500px;
  margin: auto 0;
}

#about-photo {
  border-radius: 2rem;
}

.about-container-one {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-container-two {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.details-container {
  flex: 1;
  border-radius: 2rem;
  padding: 2rem;
  border: rgb(152, 152, 152) 0.1rem solid;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.text-container {
  text-align: left;
}

/* Projects Section */

.projects-container-one {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 10rem;
}

.project-image {
  margin-bottom: 20px;
}

.project-image img {
  max-width: 100%;
}

/* Contact */

.contact-icon {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#contact {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 400px;
}

.contact-details-container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
